.ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn h5 {
    color: red;
    text-shadow: none;
    opacity: 1;
}
.ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn p {
    color: black;
    opacity: 1;
}

.ant-tabs .ant-tabs-tab-btn {
    opacity: 0.7;
}
.ant-tabs .ant-tabs-tab-btn:hover,
.ant-tabs .ant-tabs-tab-active .ant-tabs-tab-btn {
    opacity: 1;
}
/* .ant-tabs .ant-tabs-tab-active {
    border-right: 5px solid red;
    z-index: 100;
    transition: 0.3s;
} */
.ant-tabs .ant-tabs-tab:hover {
    color: black;
    opacity: 1;
}
